{% extends "base.html" %}
{% block title %}Lifeprint ASL Index{% endblock %}
{% block header %}Lifeprint ASL Index{% endblock %}
{% block content %}

<style>
.list-group-item-action {
    font-size: large;
}
</style>

<ul class="list-group">
    <a href="https://lifeprint.com/asl101/index/a.htm" class="list-group-item list-group-item-action">A</a>
    <a href="https://lifeprint.com/asl101/index/b.htm" class="list-group-item list-group-item-action">B</a>
    <a href="https://lifeprint.com/asl101/index/c.htm" class="list-group-item list-group-item-action">C</a>
    <a href="https://lifeprint.com/asl101/index/d.htm" class="list-group-item list-group-item-action">D</a>
    <a href="https://lifeprint.com/asl101/index/e.htm" class="list-group-item list-group-item-action">E</a>
    <a href="https://lifeprint.com/asl101/index/f.htm" class="list-group-item list-group-item-action">F</a>
    <a href="https://lifeprint.com/asl101/index/g.htm" class="list-group-item list-group-item-action">G</a>
    <a href="https://lifeprint.com/asl101/index/h.htm" class="list-group-item list-group-item-action">H</a>
    <a href="https://lifeprint.com/asl101/index/i.htm" class="list-group-item list-group-item-action">I</a>
    <a href="https://lifeprint.com/asl101/index/j.htm" class="list-group-item list-group-item-action">J</a>
    <a href="https://lifeprint.com/asl101/index/k.htm" class="list-group-item list-group-item-action">K</a>
    <a href="https://lifeprint.com/asl101/index/l.htm" class="list-group-item list-group-item-action">L</a>
    <a href="https://lifeprint.com/asl101/index/m.htm" class="list-group-item list-group-item-action">M</a>
    <a href="https://lifeprint.com/asl101/index/n.htm" class="list-group-item list-group-item-action">N</a>
    <a href="https://lifeprint.com/asl101/index/o.htm" class="list-group-item list-group-item-action">O</a>
    <a href="https://lifeprint.com/asl101/index/p.htm" class="list-group-item list-group-item-action">P</a>
    <a href="https://lifeprint.com/asl101/index/q.htm" class="list-group-item list-group-item-action">Q</a>
    <a href="https://lifeprint.com/asl101/index/r.htm" class="list-group-item list-group-item-action">R</a>
    <a href="https://lifeprint.com/asl101/index/s.htm" class="list-group-item list-group-item-action">S</a>
    <a href="https://lifeprint.com/asl101/index/t.htm" class="list-group-item list-group-item-action">T</a>
    <a href="https://lifeprint.com/asl101/index/u.htm" class="list-group-item list-group-item-action">U</a>
    <a href="https://lifeprint.com/asl101/index/v.htm" class="list-group-item list-group-item-action">V</a>
    <a href="https://lifeprint.com/asl101/index/w.htm" class="list-group-item list-group-item-action">W</a>
    <a href="https://lifeprint.com/asl101/index/x.htm" class="list-group-item list-group-item-action">X</a>
    <a href="https://lifeprint.com/asl101/index/y.htm" class="list-group-item list-group-item-action">Y</a>
    <a href="https://lifeprint.com/asl101/index/z.htm" class="list-group-item list-group-item-action">Z</a>
    <a href="https://www.lifeprint.com/asl101/index/sign-language-phrases.htm" class="list-group-item list-group-item-action">Phrases</a>
    <a href="https://www.lifeprint.com/asl101/pages-signs/advancedsigns3/framelist.htm" class="list-group-item list-group-item-action">Advanced Signs</a>
</ul>

<br>

For more <a href="https://lifeprint.com">American Sign Language (ASL)</a> resources check out Lifeprint.com

{% endblock %}
