{% extends "base.html" %}
{% block title %}Max Timkovich{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h4><a href="https://github.com/mtimkovich">GitHub</a></h4>
        <p>Source code.</p>

        <h4><a href="https://play.google.com/store/apps/details?id=com.maxtimkovich.randomemojikeyboard">Random Emoji Keyboard</a></h4>
        <p>The most powerful predictive keyboard for Android.</p>

        <h4><a href={{url_for('hs.index')}}>HearthSounds</a></h4>
        <p>Get Hearthstone card sounds.</p>

        <h4><a href={{url_for('show', page='python_tutorial')}}>Python Tutorial</a></h4>
        <p>Python guide for physics majors.</p>
    </div>

    <div class="col-sm-6">
        <h4><a href="{{url_for('show', page='smash_maxpr')}}">Foundry Melee MaxPR</a></h4>
        <p>Elo rankings for Get Smashed at the Foundry (RIP).</p>

        <h4><a href={{url_for('tt.index')}}>Top Tracks</a></h4>
        <p>Get the most played tracks for a SoundCloud artist.</p>

        <h4><a href={{url_for('sp.index')}}>Saved Posts for Reddit</a></h4>
        <p>Retrieve and organize your saved reddit posts!</p>

        <h4><a href={{url_for('show', page='lisp_tutorial')}}>Lisp Tutorial</a></h4>
        <p>A minimal nonsense intro to Common Lisp.</p>
    </div>
</div>

<script>
function hello() {
    var msgs = [
        'My name is Max.',
        'Me llamo Max.',
        'Mein name ist Max.',
        '我叫Max。'
    ];

    return msgs[Math.floor(Math.random() * msgs.length)];
}

$('.page-header h1').text(hello);
</script>
{% endblock %}
