<html>
<head>
<title>Max Timkovich</title>
<link rel="shortcut icon" type="image/png" href="/img/blank.png"/>
</head>
<body>
<div id="hello">
<!-- My name is Max. -->
</div>
<ul>
<li><a href='https://github.com/mtimkovich'>GitHub</a></li>
<li><a href={{url_for('show', page='smash_maxpr')}}>Foundry Melee MaxPR</a></li>
<li><a href='https://play.google.com/store/apps/details?id=com.maxtimkovich.randomemojikeyboard'>Random Emoji Keyboard (Android)</a></li>
<li><a href={{url_for('top_tracks.index')}}>Top Tracks</a></li>
<li><a href={{url_for('hs.index')}}>HearthSounds</a></li>
<li><a href={{url_for('show', page='python_tutorial')}}>Python Tutorial</a></li>
<li><a href={{url_for('show', page='lisp_tutorial')}}>Lisp Tutorial</a></li>
<li><a href={{url_for('show', page='random_caps')}}>RaNDOm CaPs</a></li>
<li><a href={{url_for('show', page='textarea')}}>Textarea</a></li>
</ul>
<br>
<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#120;&#64;&#109;&#97;&#120;&#116;&#105;&#109;&#107;&#111;&#118;&#105;&#99;&#104;&#46;&#99;&#111;&#109;"><img width=24px height=auto src="/img/mail.svg"></a>

<script>
function hello() {
    var msgs = [
        'My name is Max.',
        'Me llamo Max.',
        'Mein name ist Max.',
        '我叫Max。'
    ];

    return msgs[Math.floor(Math.random() * msgs.length)];
}

var msg = document.getElementById('hello');
msg.textContent = hello();
</script>
</body>
</html>
