{% extends "base.html" %}
{% block title %}Longhand{% endblock %}
{% block header %}Longhand{% endblock %}
{% block content %}
<p class="lead">Convert number to cardinal form</p>

<span id="error_msg" class="error"></span>

<form id="form" action="#" onsubmit="return getLonghand()">
    <div class="form-group">
        <label for="number" style="display: none">Number</label>
        <div class="input-group">
            <input type="tel" id="number" placeholder="Number" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </span>
        </div>
    </div>
</form>

<div id="result"></div>

<script src="{{url_for('static', filename='longhand.js')}}"></script>
{% endblock %}
