{% extends "base.html" %}
{% block title %}RaNDOm CaPs{% endblock %}
{% block header %}{{self.title()}}{% endblock %}
{% block content %}
<form id="form" action="#" onsubmit="return getRandCaps()">
    <div class="form-group">
        <label for="text" class="sr-only">Text</label>
        <div class="input-group">
            <input type="text" id="text" class="form-control" placeholder="Text">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
            </span>
        </div>
    </div>
</form>

<div id="result"></div>

<script src="{{url_for('static', filename='randCaps.js')}}"></script>
{% endblock %}
