<html>
<head>
<title>Random Caps</title>
<link rel="shortcut icon" type="image/png" href="/img/blank.png"/>
<style>
h1 {
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
</style>
</head>
<body>
    <h1>RaNDOm CaPs</h1>
    <p>

<form id="form" action="#" onsubmit="return getRandCaps()">
    <table>
        <tr>
            <td><label>Text</label></td>
            <td><input type="text" id="text"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

<div id="result"></div>

<script src="{{url_for('static', filename='randCaps.js')}}"></script>

</body>
</html>
