{% extends "base.html" %}
{% block title %}Get Smashed at the Foundry Max Power Ranking{% endblock %}
{% block header %}{{self.title()}}{% endblock %}
{% block head %}
<link rel='shortcut icon' href='/img/fox.png' />
{% endblock %}

{% block content %}

<p>Last Updated: 2017-06-21</p>

<table class='table table-striped'>
  <thead>
  <tr>
    <th>#</th>
    <th >Tag</th>
    <th>Elo</th>
  </tr>
  </thead>

  <tr>
    <td>1</td>
    <td >CLG.PewPewU</td>
    <td>42.13</td>
  </tr>
  <tr>
    <td>2</td>
    <td >dizzkidboogie</td>
    <td>41.12</td>
  </tr>
  <tr>
    <td>3</td>
    <td >SPY | Nintendude</td>
    <td>40.10</td>
  </tr>
  <tr>
    <td>4</td>
    <td >Cactuar</td>
    <td>39.29</td>
  </tr>
  <tr>
    <td>5</td>
    <td >Boulevard</td>
    <td>38.63</td>
  </tr>
  <tr>
    <td>6</td>
    <td >IMT | Shroomed</td>
    <td>38.00</td>
  </tr>
  <tr>
    <td>7</td>
    <td >Spark</td>
    <td>37.87</td>
  </tr>
  <tr>
    <td>8</td>
    <td >Reno</td>
    <td>37.69</td>
  </tr>
  <tr>
    <td>9</td>
    <td >Azusa</td>
    <td>36.68</td>
  </tr>
  <tr>
    <td>10</td>
    <td >ABAP | NMW</td>
    <td>36.32</td>
  </tr>
  <tr>
    <td>11</td>
    <td >Moose</td>
    <td>35.81</td>
  </tr>
  <tr>
    <td>12</td>
    <td >s0ft</td>
    <td>35.45</td>
  </tr>
  <tr>
    <td>13</td>
    <td >Darkatma</td>
    <td>35.40</td>
  </tr>
  <tr>
    <td>14</td>
    <td >Coolkid</td>
    <td>35.18</td>
  </tr>
  <tr>
    <td>15</td>
    <td >ycz6</td>
    <td>35.02</td>
  </tr>
  <tr>
    <td>16</td>
    <td >homemadewaffles</td>
    <td>34.95</td>
  </tr>
  <tr>
    <td>17</td>
    <td >ArcadianChamp | BarDulL</td>
    <td>33.64</td>
  </tr>
  <tr>
    <td>18</td>
    <td >Arcadia</td>
    <td>33.07</td>
  </tr>
  <tr>
    <td>19</td>
    <td >MIOM | Toph</td>
    <td>33.05</td>
  </tr>
  <tr>
    <td>20</td>
    <td >PaNdOrAs_FoX</td>
    <td>32.93</td>
  </tr>
  <tr>
    <td>21</td>
    <td >Rocky</td>
    <td>32.75</td>
  </tr>
  <tr>
    <td>22</td>
    <td >MIOM | Dr. Z</td>
    <td>32.53</td>
  </tr>
  <tr>
    <td>23</td>
    <td >Bob$</td>
    <td>32.41</td>
  </tr>
  <tr>
    <td>24</td>
    <td >Umarth</td>
    <td>32.39</td>
  </tr>
  <tr>
    <td>25</td>
    <td >Chris Best</td>
    <td>32.24</td>
  </tr>
  <tr>
    <td>26</td>
    <td >Imyt</td>
    <td>31.18</td>
  </tr>
  <tr>
    <td>27</td>
    <td >Laudandus</td>
    <td>30.52</td>
  </tr>
  <tr>
    <td>28</td>
    <td >TCP | 420XX | w33dL0rd840</td>
    <td>30.14</td>
  </tr>
  <tr>
    <td>29</td>
    <td >L</td>
    <td>29.99</td>
  </tr>
  <tr>
    <td>30</td>
    <td >Skeeter</td>
    <td>29.63</td>
  </tr>
  <tr>
    <td>31</td>
    <td >sgg | S2B</td>
    <td>29.51</td>
  </tr>
  <tr>
    <td>32</td>
    <td >gaR</td>
    <td>29.17</td>
  </tr>
  <tr>
    <td>33</td>
    <td >Wasabi</td>
    <td>29.02</td>
  </tr>
  <tr>
    <td>34</td>
    <td >SOL | Spira</td>
    <td>28.82</td>
  </tr>
  <tr>
    <td>35</td>
    <td >TMG | Maybe</td>
    <td>28.81</td>
  </tr>
  <tr>
    <td>36</td>
    <td >Cyan</td>
    <td>28.65</td>
  </tr>
  <tr>
    <td>37</td>
    <td >Machiavelli</td>
    <td>28.54</td>
  </tr>
  <tr>
    <td>38</td>
    <td >Weedlar</td>
    <td>28.14</td>
  </tr>
  <tr>
    <td>39</td>
    <td >Alan</td>
    <td>28.14</td>
  </tr>
  <tr>
    <td>40</td>
    <td >boback</td>
    <td>27.85</td>
  </tr>
  <tr>
    <td>41</td>
    <td >Suzarya</td>
    <td>27.60</td>
  </tr>
  <tr>
    <td>42</td>
    <td >S@B | Zbert</td>
    <td>27.59</td>
  </tr>
  <tr>
    <td>43</td>
    <td >GroovyGreenHat</td>
    <td>27.42</td>
  </tr>
  <tr>
    <td>44</td>
    <td >MIOM.BBeS.TMG | MattDotZeb</td>
    <td>27.35</td>
  </tr>
  <tr>
    <td>45</td>
    <td >Rato</td>
    <td>27.34</td>
  </tr>
  <tr>
    <td>46</td>
    <td >Deenuna</td>
    <td>26.95</td>
  </tr>
  <tr>
    <td>47</td>
    <td >PeachIcedT</td>
    <td>26.61</td>
  </tr>
  <tr>
    <td>48</td>
    <td >Vite</td>
    <td>26.56</td>
  </tr>
  <tr>
    <td>49</td>
    <td >Dr. Grin</td>
    <td>26.40</td>
  </tr>
  <tr>
    <td>50</td>
    <td >GME</td>
    <td>26.30</td>
  </tr>
  <tr>
    <td>51</td>
    <td >FALC | Captain Falco</td>
    <td>26.26</td>
  </tr>
  <tr>
    <td>52</td>
    <td >HuggerMugger</td>
    <td>25.89</td>
  </tr>
  <tr>
    <td>53</td>
    <td >Clubs</td>
    <td>25.77</td>
  </tr>
  <tr>
    <td>54</td>
    <td >BlueFoxXT</td>
    <td>24.90</td>
  </tr>
  <tr>
    <td>55</td>
    <td >epengu</td>
    <td>24.73</td>
  </tr>
  <tr>
    <td>56</td>
    <td >jubby</td>
    <td>24.51</td>
  </tr>
  <tr>
    <td>57</td>
    <td >Mikkuz</td>
    <td>24.35</td>
  </tr>
  <tr>
    <td>58</td>
    <td >Avarice</td>
    <td>24.25</td>
  </tr>
  <tr>
    <td>59</td>
    <td >gg | Churros</td>
    <td>23.76</td>
  </tr>
  <tr>
    <td>60</td>
    <td >Mogwai</td>
    <td>23.68</td>
  </tr>
  <tr>
    <td>61</td>
    <td >Hoof</td>
    <td>23.47</td>
  </tr>
  <tr>
    <td>62</td>
    <td >Weston</td>
    <td>23.06</td>
  </tr>
  <tr>
    <td>63</td>
    <td >Paragon</td>
    <td>23.01</td>
  </tr>
  <tr>
    <td>64</td>
    <td >Galen The Wise</td>
    <td>22.91</td>
  </tr>
  <tr>
    <td>65</td>
    <td >Davis</td>
    <td>22.89</td>
  </tr>
  <tr>
    <td>66</td>
    <td >Warwick Foe</td>
    <td>22.83</td>
  </tr>
  <tr>
    <td>67</td>
    <td >Doctor Hu</td>
    <td>22.52</td>
  </tr>
  <tr>
    <td>68</td>
    <td >Zander</td>
    <td>22.48</td>
  </tr>
  <tr>
    <td>69</td>
    <td >Ed.</td>
    <td>22.39</td>
  </tr>
  <tr>
    <td>70</td>
    <td >Paul Chen</td>
    <td>22.23</td>
  </tr>
  <tr>
    <td>71</td>
    <td >DJSwerve</td>
    <td>22.08</td>
  </tr>
  <tr>
    <td>72</td>
    <td >Ironman</td>
    <td>21.98</td>
  </tr>
  <tr>
    <td>73</td>
    <td >Sun</td>
    <td>21.68</td>
  </tr>
  <tr>
    <td>74</td>
    <td >BERT | Bertbusdriver</td>
    <td>21.66</td>
  </tr>
  <tr>
    <td>75</td>
    <td >Strong Bad</td>
    <td>21.47</td>
  </tr>
  <tr>
    <td>76</td>
    <td >Gabezilla</td>
    <td>21.46</td>
  </tr>
  <tr>
    <td>77</td>
    <td >Light</td>
    <td>21.32</td>
  </tr>
  <tr>
    <td>78</td>
    <td >Wiz</td>
    <td>21.32</td>
  </tr>
  <tr>
    <td>79</td>
    <td >theunabletable</td>
    <td>21.24</td>
  </tr>
  <tr>
    <td>80</td>
    <td >Bobo</td>
    <td>21.11</td>
  </tr>
  <tr>
    <td>81</td>
    <td >Foonz</td>
    <td>20.91</td>
  </tr>
  <tr>
    <td>82</td>
    <td >Ghidorah</td>
    <td>20.80</td>
  </tr>
  <tr>
    <td>83</td>
    <td >69%</td>
    <td>20.67</td>
  </tr>
  <tr>
    <td>84</td>
    <td >Siervos | Yasu</td>
    <td>20.60</td>
  </tr>
  <tr>
    <td>85</td>
    <td >Schwiebs</td>
    <td>20.47</td>
  </tr>
  <tr>
    <td>86</td>
    <td >Mova</td>
    <td>20.22</td>
  </tr>
  <tr>
    <td>87</td>
    <td >DrJwns</td>
    <td>19.92</td>
  </tr>
  <tr>
    <td>88</td>
    <td >BrTarolg</td>
    <td>19.48</td>
  </tr>
  <tr>
    <td>89</td>
    <td >Ethan</td>
    <td>19.46</td>
  </tr>
  <tr>
    <td>90</td>
    <td >FSU</td>
    <td>19.38</td>
  </tr>
  <tr>
    <td>91</td>
    <td >Kepp</td>
    <td>18.28</td>
  </tr>
  <tr>
    <td>92</td>
    <td >sgg | Evan</td>
    <td>18.26</td>
  </tr>
  <tr>
    <td>93</td>
    <td >bensw</td>
    <td>17.97</td>
  </tr>
  <tr>
    <td>94</td>
    <td >Massy</td>
    <td>17.94</td>
  </tr>
  <tr>
    <td>95</td>
    <td >Tech</td>
    <td>17.93</td>
  </tr>
  <tr>
    <td>96</td>
    <td >Ed</td>
    <td>17.86</td>
  </tr>
  <tr>
    <td>97</td>
    <td >nipunn</td>
    <td>17.81</td>
  </tr>
  <tr>
    <td>98</td>
    <td >JizzGoblin69</td>
    <td>17.63</td>
  </tr>
  <tr>
    <td>99</td>
    <td >grandma Dan</td>
    <td>17.60</td>
  </tr>
  <tr>
    <td>100</td>
    <td >Goober</td>
    <td>17.46</td>
  </tr>
  <tr>
    <td>101</td>
    <td >POD</td>
    <td>17.37</td>
  </tr>
  <tr>
    <td>102</td>
    <td >PKP</td>
    <td>16.99</td>
  </tr>
  <tr>
    <td>103</td>
    <td >Mimorox</td>
    <td>16.94</td>
  </tr>
  <tr>
    <td>104</td>
    <td >GreenGreens</td>
    <td>16.52</td>
  </tr>
  <tr>
    <td>105</td>
    <td >Suuu</td>
    <td>16.46</td>
  </tr>
  <tr>
    <td>106</td>
    <td >HTC | Engdrew</td>
    <td>16.12</td>
  </tr>
  <tr>
    <td>107</td>
    <td >Reyond</td>
    <td>15.98</td>
  </tr>
  <tr>
    <td>108</td>
    <td >Destinyfan21</td>
    <td>15.95</td>
  </tr>
  <tr>
    <td>109</td>
    <td >Fakeshroomed</td>
    <td>15.87</td>
  </tr>
  <tr>
    <td>110</td>
    <td >aeoluxar</td>
    <td>15.60</td>
  </tr>
  <tr>
    <td>111</td>
    <td >Mattoe</td>
    <td>15.43</td>
  </tr>
  <tr>
    <td>112</td>
    <td >Abzan</td>
    <td>15.32</td>
  </tr>
  <tr>
    <td>113</td>
    <td >Elcancell</td>
    <td>15.29</td>
  </tr>
  <tr>
    <td>114</td>
    <td >Slamchops</td>
    <td>15.25</td>
  </tr>
  <tr>
    <td>115</td>
    <td >Ryze</td>
    <td>15.23</td>
  </tr>
  <tr>
    <td>116</td>
    <td >Dad</td>
    <td>15.23</td>
  </tr>
  <tr>
    <td>117</td>
    <td >Kami</td>
    <td>15.04</td>
  </tr>
  <tr>
    <td>118</td>
    <td >MuddaPhoCuh</td>
    <td>14.82</td>
  </tr>
  <tr>
    <td>119</td>
    <td >Spiff</td>
    <td>14.76</td>
  </tr>
  <tr>
    <td>120</td>
    <td >JB | jusbeatbox</td>
    <td>14.71</td>
  </tr>
  <tr>
    <td>121</td>
    <td >Girony</td>
    <td>14.66</td>
  </tr>
  <tr>
    <td>122</td>
    <td >RK</td>
    <td>14.64</td>
  </tr>
  <tr>
    <td>123</td>
    <td >Mr. Thee</td>
    <td>14.28</td>
  </tr>
  <tr>
    <td>124</td>
    <td >eyedea</td>
    <td>14.13</td>
  </tr>
  <tr>
    <td>125</td>
    <td >Twilight2008</td>
    <td>13.89</td>
  </tr>
  <tr>
    <td>126</td>
    <td >RM</td>
    <td>13.66</td>
  </tr>
  <tr>
    <td>127</td>
    <td >Fumanchu</td>
    <td>13.44</td>
  </tr>
  <tr>
    <td>128</td>
    <td >truHAM</td>
    <td>13.37</td>
  </tr>
  <tr>
    <td>129</td>
    <td >Stelo</td>
    <td>12.85</td>
  </tr>
  <tr>
    <td>130</td>
    <td >JPD</td>
    <td>12.82</td>
  </tr>
  <tr>
    <td>131</td>
    <td >Phet</td>
    <td>12.39</td>
  </tr>
  <tr>
    <td>132</td>
    <td >MNTD</td>
    <td>12.11</td>
  </tr>
  <tr>
    <td>133</td>
    <td >G7</td>
    <td>11.95</td>
  </tr>
  <tr>
    <td>134</td>
    <td >King Greg</td>
    <td>11.84</td>
  </tr>
  <tr>
    <td>135</td>
    <td >GroovyBlue</td>
    <td>11.48</td>
  </tr>
  <tr>
    <td>136</td>
    <td >SHADOWDRGNMASTER</td>
    <td>11.33</td>
  </tr>
  <tr>
    <td>137</td>
    <td >Space</td>
    <td>11.27</td>
  </tr>
  <tr>
    <td>138</td>
    <td >Deluvian</td>
    <td>11.12</td>
  </tr>
  <tr>
    <td>139</td>
    <td >scrooge</td>
    <td>10.87</td>
  </tr>
  <tr>
    <td>140</td>
    <td >HTC | Treechen</td>
    <td>10.41</td>
  </tr>
  <tr>
    <td>141</td>
    <td >dimsum</td>
    <td>10.38</td>
  </tr>
  <tr>
    <td>142</td>
    <td >@Ashkon_</td>
    <td>9.79</td>
  </tr>
  <tr>
    <td>143</td>
    <td >Cham</td>
    <td>9.26</td>
  </tr>
  <tr>
    <td>144</td>
    <td >Cruz</td>
    <td>8.97</td>
  </tr>
  <tr>
    <td>145</td>
    <td >nml</td>
    <td>8.91</td>
  </tr>
  <tr>
    <td>146</td>
    <td >MyNameIsKevin</td>
    <td>8.74</td>
  </tr>
  <tr>
    <td>147</td>
    <td >BOXR | Zhu</td>
    <td>8.73</td>
  </tr>
  <tr>
    <td>148</td>
    <td >Torben</td>
    <td>8.72</td>
  </tr>
  <tr>
    <td>149</td>
    <td >Stingray</td>
    <td>8.51</td>
  </tr>
  <tr>
    <td>150</td>
    <td >Darksilence</td>
    <td>8.44</td>
  </tr>
  <tr>
    <td>151</td>
    <td >Kyza</td>
    <td>8.40</td>
  </tr>
  <tr>
    <td>152</td>
    <td >Jank</td>
    <td>8.27</td>
  </tr>
  <tr>
    <td>153</td>
    <td >butter</td>
    <td>8.00</td>
  </tr>
  <tr>
    <td>154</td>
    <td >Butter</td>
    <td>7.81</td>
  </tr>
  <tr>
    <td>155</td>
    <td >unagi</td>
    <td>7.48</td>
  </tr>
  <tr>
    <td>156</td>
    <td >Green Greens</td>
    <td>7.47</td>
  </tr>
  <tr>
    <td>157</td>
    <td >Nelson</td>
    <td>7.45</td>
  </tr>
  <tr>
    <td>158</td>
    <td >HeyRap</td>
    <td>7.39</td>
  </tr>
  <tr>
    <td>159</td>
    <td >DOCC | Real Dingoes</td>
    <td>7.35</td>
  </tr>
  <tr>
    <td>160</td>
    <td >Alaskan Bull Worm</td>
    <td>7.35</td>
  </tr>
  <tr>
    <td>161</td>
    <td >Sapin</td>
    <td>7.27</td>
  </tr>
  <tr>
    <td>162</td>
    <td >Ampush | Gary Oak</td>
    <td>7.25</td>
  </tr>
  <tr>
    <td>163</td>
    <td >Winky</td>
    <td>6.94</td>
  </tr>
  <tr>
    <td>164</td>
    <td >Griz</td>
    <td>6.91</td>
  </tr>
  <tr>
    <td>165</td>
    <td >C2</td>
    <td>6.71</td>
  </tr>
  <tr>
    <td>166</td>
    <td >Ragtime Mouse</td>
    <td>6.65</td>
  </tr>
  <tr>
    <td>167</td>
    <td >yanjo</td>
    <td>6.63</td>
  </tr>
  <tr>
    <td>168</td>
    <td >SLEEPY TIME</td>
    <td>6.61</td>
  </tr>
  <tr>
    <td>169</td>
    <td >soup nazi</td>
    <td>6.45</td>
  </tr>
  <tr>
    <td>170</td>
    <td >The1stSon</td>
    <td>6.41</td>
  </tr>
  <tr>
    <td>171</td>
    <td >Purple</td>
    <td>6.32</td>
  </tr>
  <tr>
    <td>172</td>
    <td >Ferwat</td>
    <td>5.86</td>
  </tr>
  <tr>
    <td>173</td>
    <td >Ruin</td>
    <td>5.82</td>
  </tr>
  <tr>
    <td>174</td>
    <td >BADD</td>
    <td>5.78</td>
  </tr>
  <tr>
    <td>175</td>
    <td >Not Ghost</td>
    <td>5.69</td>
  </tr>
  <tr>
    <td>176</td>
    <td >ORR | gkinfinity</td>
    <td>5.61</td>
  </tr>
  <tr>
    <td>177</td>
    <td >Kramer</td>
    <td>5.57</td>
  </tr>
  <tr>
    <td>178</td>
    <td >(◕‿◕✿) | Kewaiyeo</td>
    <td>5.56</td>
  </tr>
  <tr>
    <td>179</td>
    <td >ATLM</td>
    <td>5.25</td>
  </tr>
  <tr>
    <td>180</td>
    <td >Pavocado</td>
    <td>4.94</td>
  </tr>
  <tr>
    <td>181</td>
    <td >Xelax</td>
    <td>4.91</td>
  </tr>
  <tr>
    <td>182</td>
    <td >Jeff</td>
    <td>4.89</td>
  </tr>
  <tr>
    <td>183</td>
    <td >Octobear</td>
    <td>4.80</td>
  </tr>
  <tr>
    <td>184</td>
    <td >Plzdonkillme</td>
    <td>4.78</td>
  </tr>
  <tr>
    <td>185</td>
    <td >Plue</td>
    <td>4.66</td>
  </tr>
  <tr>
    <td>186</td>
    <td >CSC | Masanori</td>
    <td>4.63</td>
  </tr>
  <tr>
    <td>187</td>
    <td >UW | gg | leahboo</td>
    <td>4.51</td>
  </tr>
  <tr>
    <td>188</td>
    <td >walta</td>
    <td>4.39</td>
  </tr>
  <tr>
    <td>189</td>
    <td >Skippy Ta</td>
    <td>4.37</td>
  </tr>
  <tr>
    <td>190</td>
    <td >Coco</td>
    <td>4.35</td>
  </tr>
  <tr>
    <td>191</td>
    <td >Cuck | Wok Warrior</td>
    <td>4.01</td>
  </tr>
  <tr>
    <td>192</td>
    <td >GoodGrinderGG</td>
    <td>3.97</td>
  </tr>
  <tr>
    <td>193</td>
    <td >Aleebi</td>
    <td>3.95</td>
  </tr>
  <tr>
    <td>194</td>
    <td >Buhlaine</td>
    <td>3.75</td>
  </tr>
  <tr>
    <td>195</td>
    <td >cherryzard</td>
    <td>3.71</td>
  </tr>
  <tr>
    <td>196</td>
    <td >HOLZ!</td>
    <td>3.37</td>
  </tr>
  <tr>
    <td>197</td>
    <td >Jon</td>
    <td>3.16</td>
  </tr>
  <tr>
    <td>198</td>
    <td >PlaceboRx</td>
    <td>2.80</td>
  </tr>
  <tr>
    <td>199</td>
    <td >Liz</td>
    <td>2.50</td>
  </tr>
  <tr>
    <td>200</td>
    <td >loub</td>
    <td>2.30</td>
  </tr>
  <tr>
    <td>201</td>
    <td >Papa Izzy</td>
    <td>2.21</td>
  </tr>
  <tr>
    <td>202</td>
    <td >Smerf</td>
    <td>1.66</td>
  </tr>
  <tr>
    <td>203</td>
    <td >Red Comet</td>
    <td>1.60</td>
  </tr>
  <tr>
    <td>204</td>
    <td >Sam</td>
    <td>1.25</td>
  </tr>
  <tr>
    <td>205</td>
    <td >PairOfSoxx</td>
    <td>1.11</td>
  </tr>
  <tr>
    <td>206</td>
    <td >wooly</td>
    <td>1.02</td>
  </tr>
  <tr>
    <td>207</td>
    <td >Droltseknad</td>
    <td>0.97</td>
  </tr>
  <tr>
    <td>208</td>
    <td >Tuna</td>
    <td>0.84</td>
  </tr>
  <tr>
    <td>209</td>
    <td >DawnOfTheDead</td>
    <td>0.83</td>
  </tr>
  <tr>
    <td>210</td>
    <td >CanadaMoose</td>
    <td>0.78</td>
  </tr>
  <tr>
    <td>211</td>
    <td >Kut</td>
    <td>0.76</td>
  </tr>
  <tr>
    <td>212</td>
    <td >griz</td>
    <td>0.66</td>
  </tr>
  <tr>
    <td>213</td>
    <td >Gish</td>
    <td>0.65</td>
  </tr>
  <tr>
    <td>214</td>
    <td >Shackinjack</td>
    <td>0.51</td>
  </tr>
  <tr>
    <td>215</td>
    <td >Sleeper26</td>
    <td>0.49</td>
  </tr>
  <tr>
    <td>216</td>
    <td >Beerneck</td>
    <td>0.34</td>
  </tr>
  <tr>
    <td>217</td>
    <td >Feels</td>
    <td>0.29</td>
  </tr>
  <tr>
    <td>218</td>
    <td >dtmp</td>
    <td>0.27</td>
  </tr>
  <tr>
    <td>219</td>
    <td >John Titor</td>
    <td>0.20</td>
  </tr>
  <tr>
    <td>220</td>
    <td >GeeSlice</td>
    <td>0.06</td>
  </tr>
  <tr>
    <td>221</td>
    <td >Buzzindorf</td>
    <td>0.03</td>
  </tr>
  <tr>
    <td>222</td>
    <td >Noel</td>
    <td>0.00</td>
  </tr>
  <tr>
    <td>223</td>
    <td >VK | Kevat13</td>
    <td>0.00</td>
  </tr>
  <tr>
    <td>224</td>
    <td >makermike</td>
    <td>0.00</td>
  </tr>
  <tr>
    <td>225</td>
    <td >Jewse</td>
    <td>-0.06</td>
  </tr>
  <tr>
    <td>226</td>
    <td >Jestra</td>
    <td>-0.07</td>
  </tr>
  <tr>
    <td>227</td>
    <td >pat</td>
    <td>-0.07</td>
  </tr>
  <tr>
    <td>228</td>
    <td >mr_fancy</td>
    <td>-0.15</td>
  </tr>
  <tr>
    <td>229</td>
    <td >Arcaine</td>
    <td>-0.16</td>
  </tr>
  <tr>
    <td>230</td>
    <td >mauzy</td>
    <td>-0.20</td>
  </tr>
  <tr>
    <td>231</td>
    <td >Mark</td>
    <td>-0.22</td>
  </tr>
  <tr>
    <td>232</td>
    <td >Izeron</td>
    <td>-0.38</td>
  </tr>
  <tr>
    <td>233</td>
    <td >Colin</td>
    <td>-0.41</td>
  </tr>
  <tr>
    <td>234</td>
    <td >V17</td>
    <td>-0.49</td>
  </tr>
  <tr>
    <td>235</td>
    <td >Pat</td>
    <td>-0.70</td>
  </tr>
  <tr>
    <td>236</td>
    <td >Omanko</td>
    <td>-0.81</td>
  </tr>
  <tr>
    <td>237</td>
    <td >Toaster</td>
    <td>-0.93</td>
  </tr>
  <tr>
    <td>238</td>
    <td >Woolly</td>
    <td>-0.93</td>
  </tr>
  <tr>
    <td>239</td>
    <td >Dablo</td>
    <td>-1.06</td>
  </tr>
  <tr>
    <td>240</td>
    <td >Mellows</td>
    <td>-1.10</td>
  </tr>
  <tr>
    <td>241</td>
    <td >JohnP</td>
    <td>-1.15</td>
  </tr>
  <tr>
    <td>242</td>
    <td >big phat jjcjj</td>
    <td>-1.17</td>
  </tr>
  <tr>
    <td>243</td>
    <td >Big Huge Man</td>
    <td>-1.22</td>
  </tr>
  <tr>
    <td>244</td>
    <td >nateg</td>
    <td>-1.41</td>
  </tr>
  <tr>
    <td>245</td>
    <td >Tube</td>
    <td>-1.74</td>
  </tr>
  <tr>
    <td>246</td>
    <td >Andrew</td>
    <td>-1.98</td>
  </tr>
  <tr>
    <td>247</td>
    <td >Winner</td>
    <td>-2.20</td>
  </tr>
  <tr>
    <td>248</td>
    <td >goblin</td>
    <td>-2.56</td>
  </tr>
  <tr>
    <td>249</td>
    <td >Intersect</td>
    <td>-2.67</td>
  </tr>
  <tr>
    <td>250</td>
    <td >KingOfHoes</td>
    <td>-2.84</td>
  </tr>
  <tr>
    <td>251</td>
    <td >A Krippled Baby</td>
    <td>-3.32</td>
  </tr>
  <tr>
    <td>252</td>
    <td >Songco</td>
    <td>-3.37</td>
  </tr>
  <tr>
    <td>253</td>
    <td >FrostMark</td>
    <td>-3.59</td>
  </tr>
</table>

<p>Source for how rankings are calculated can be found <a href="https://github.com/mtimkovich/smash_maxpr">here</a>.

<p>Created by Max Timkovich

{% endblock %}
