{% extends "base.html" %}
{% block title %}Time Til Golden Hero{% endblock %}
{% block content %}
<p class="lead">Disappoint yourself!</p>
<span id="error_msg" class="error"></span>
<form id="form">
    <div class="form-group">
        <label id="played">Ranked Games Won</label>
        <input type="text" class="form-control" name="played" />
    </div>

    <div class="form-group">
        <label id="win_rate">Win Rate</label>
        <div class="input-group">
            <input type="text" class="form-control" name="win_rate" />
            <span class="input-group-addon">%</span>
        </div>
        <small id="passwordHelpBlock" class="text-muted">
        55% or 60% if you're good, 50% if you're bad.
        </small>
    </div>

    <div class="form-group">
        <label id="game_time">Average Game Time</label>
        <div class="input-group">
            <input type="text" class="form-control" name="game_time" />
            <span class="input-group-addon">minutes</span>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
        ~5m aggro, ~7m midrange, ~10m+ control/combo
        </small>
    </div>

    <button type="button" class="btn btn-primary" onclick="calculate()" />Go!</button>

    <div class="form-group" style="margin-top: 10px">
        <label>Result</label>
        <div class="input-group">
            <input type="text" class="form-control" name="result" readonly />
            <span class="input-group-addon">hours</span>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
        How long (on average) of straight playing before you get your golden hero
        </small>
    </div>
</form>

<p><a href="img/math.png">The math</a></p>
<p>Created by Max Timkovich</p>


<script>

function show_error(key, msg) {
    document.getElementById(key).className = 'error';
    document.getElementById('error_msg').textContent = 'Error: ' + msg;

    return true;
}

function calculate() {
    var form = document.getElementById('form');

    var fields = {
        'played': parseInt(form.played.value, 10),
        'win_rate': parseFloat(form.win_rate.value),
        'game_time': parseInt(form.game_time.value, 10)
    };

    var error = false;
    for (key in fields) {
        var val = fields[key];
        var field_error = false;

        if (isNaN(val)) {
            error = field_error = show_error(key, 'Invalid number or blank field');
        } else if (key == 'played') {
            if (val > 500) {
                error = field_error = show_error(key, 'Games won must be less than 500, smartass');
            }
        }

        if (field_error) {
            field_error = false;
        } else {
            document.getElementById(key).className = '';
        }
    }

    if (error) {
        return;
    } else {
        document.getElementById('error_msg').textContent = '';
    }

    if (fields['win_rate'] == 0) {
        form.result.value = 'https://youtu.be/2KjtRokhpvM?list=PLvEIxIeBRKSjprrvlbAcbVjzHsnH9PjDX';
        return;
    }

    var remaining = 500 - fields['played'];
    var percent = fields['win_rate'] / 100;

    result = (remaining * fields['game_time']) / (percent * 60);

    form.result.value = result.toFixed(2);
}
</script>
{% endblock %}
