{% extends "base.html" %}            
{% block title %}
{% if artist %}
Top Tracks | {{artist}}
{% else %}
Top Tracks
{% endif %}
{% endblock %}
{% block head %}
<link rel="shortcut icon" href="/img/tt_favicon.png" />
{% endblock %}
{% block header %}<a href="{{url_for('top_tracks.index')}}"><img height="120" src="/img/top_tracks.png"></a>{% endblock %}


{% block content %}

<style>
.number {
        font-size: 40px;
        font-weight: bold;
        padding-right: 15px;
}

</style>

<script src={{url_for('top_tracks.static', filename='validate.js')}}></script>

<div id='error'>{{error}}</div>

<form action="{{url_for('top_tracks.index')}}" method='post' onsubmit='return validate();'>
    <div class="form-group">
        <div class="input-group">
            <input id='artist' name='artist' type='text' class="form-control" value="{{artist if artist is not none else ''}}" placeholder="SoundCloud Username or URL"></input>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Go!</button>
            </span>
        </div>
    </div>
</form>

{% if description %}
Get a list of the most popular tracks for a SoundCloud artist!
{% endif %}

{% if songs %}
<div class="list-group">
    {% for song in songs %}
    <li class="list-group-item">
        <span class="number pull-left">{{loop.index}}</span>
        <iframe id="audio-{{loop.index0}}" width="500" height="175" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?visual=false&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{song.id}}&show_artwork=true&maxheight=175&show_playcount=true&download=false&show_comments=false&maxwidth=500"></iframe>
    </li>
    {% endfor %}
</div>

<script src="https://w.soundcloud.com/player/api.js"></script>
<script src={{url_for('top_tracks.static', filename='playlist.js')}}></script>
{% endif %}

<a id='sc-logo' href="http://soundcloud.com"><img src="https://developers.soundcloud.com/assets/powered_by_black-4339b4c3c9cf88da9bfb15a16c4f6914.png"></a>
{% endblock %}
