/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 20px;
}

body p + h4 {
  margin-top: 28px;
}

@media (min-width: 480px) {
    .navbar-nav > li > a, .navbar-brand {
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: middle;
        height: 40px;
    }
}

.navbar {
    min-height: 40px;
}

.navbar-brand {
    font-size: 14px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.error {
    color: red;
    font-weight: bold;
}
