/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-bottom: 20px;
}

body p + h4 {
  margin-top: 28px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar {
    display: block;
}

.navbar-brand {
    font-size: 1rem;
    color: rgba(0,0,0,.5);
}

.container {
  width: auto;
  max-width: 994px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.error {
    color: red;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .rwd-break {
        display: none;
    }
}

