h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: #333;
}

h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

.post pre { margin-bottom: 20px }
.prettyprint {
    overflow-x: auto;
    padding: 1.5em;
    border: 0;
    line-height: 1.9em;
}
